
body {
    background-color: #141414;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#titulo {
    color: #00ff99;
    font-size: 2.5rem;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

main {
    width: 90%;
    max-width: 800px;
    background: rgba(32, 32, 32, 0.9);
    border: 1px solid #00ff99;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff99;
    padding: 30px;
}

fieldset.contenedores {
    border: 1px solid #00ff99;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #00ff99;
    text-align: center;
}

legend.titulo-contenedor {
    color: #00ff99;
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    color: #e0e0e0;
}

.textarea, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0d0d0d;
    border: 1px solid #00ff99;
    color: #e0e0e0;
    border-radius: 5px;
}

textarea {
    resize: none;
}

#input {
    text-align: center;
}

#genero{
    text-align: center;
    margin-bottom: -10px;
    margin-top: 20px;
}

input[type="radio"]{
    accent-color: #00ff9979;
    }
    
    input[type="radio"]:checked {
        background-color: #00ff9979;
        border-color: #00ff9979;
    }


button {
    background: #00ff9979;
    border: none;
    color: black;
    padding: 15px 30px;
    margin: 10px 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    left: 205px;
}

button:hover {
    background: #009966;
}

hr {
    border: 0;
    height: 1px;
    background: #00ff99;
    margin: 30px 0;
}

#condiciones {
    text-align: center;
}

#condiciones label {
    color: #00ff99;
}

p {
    color: #e0e0e0;
    font-size: 0.9rem;
}

b {
    color: #00ff99;
}

input[type="checkbox"]{
    accent-color: #00ff99;
    }
    
    input[type="checkbox"]:checked {
        background-color: #00ff99;
        border-color: #00ff99;
    }
    
