@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    
}

body{
    background-color: #1F2023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #1F2023;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top: solid 20px #4D6D63;
    border-bottom: solid 20px #4D6D63;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    position: relative;
}



#titulo { font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    color: white;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.primer, .segund{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo-contenedor{
    background-color: #4d6d63;
    padding: 10px;
    border-radius: 5px;
    color: #E8EAED;
    text-align: left;
    display: flex;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
}

.textarea {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    border: solid 1px #658078;
}

.textarea:focus{background-color: #4D6D63;}

.opcion{color: #000000;}


.contenedores {
background-color: #d6e2de;
margin: 20px 0;
padding: 20px;
border: solid 3px #4d6d63;
border-radius: 10px;
}

hr{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 15px dotted #d6e2de;
    width: 44%;
} 

.datos {display: flex;
flex-direction: column;
align-items: center;}

#condiciones{color: white;}

#nacionalidad {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #5B7366;
}

input:hover{
    background-color: #4D6D63;
}


input[type="radio"] {
    margin-top: 10px;
}

input[type="radio"] {
    accent-color: rgb(0, 110, 255); 
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: rgb(0, 110, 255);
    border-color: rgb(0, 110, 255);
}

input[type="number"]{
    text-align: right;
    font-size: 18px;
    color: #5B7366;
}

input[type="email"]{
    text-align: right;
    font-size: 18px;
}


input[type="checkbox"]{
accent-color: rgb(0, 110, 255);
}

input[type="checkbox"]:checked {
    background-color: rgb(0, 110, 255);
    border-color: rgb(0, 110, 255);
}

button{
    background-color: #2B3D37;
    color: #92B7A2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    border: solid #4D6D63 1px;
    position: relative;
    left: 20%;
    align-items: space-between;
    margin-left: 50px;
}






