@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main{
    width: 50%
} 

body{
    background-color: #1F2023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #1F2023;
    margin: 20px; 
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 20px;
    border-top: solid 20px; 
    border-color: #4D6D63; 
    width: 50%; 
}

#titulo { font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
font-size: 2em;}

.primer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo-contenedor{
    background-color: #4d6d63;
    padding: 10px;
    border-radius: 5px;
    color: #E8EAED;
    text-align: left;
    display: flex;

}

.textarea {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    
}


.contenedores {background-color: #d6e2de;
margin: 20px 0;
}

hr{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 15px dotted #d6e2de;
    width: 44%;
} 

.datos {display: flex;
flex-direction: column;
align-items: center;}



